# ETSI SOL005 vs. OSM rel. 4 evaluation

Execution: `pytest --durations=0`
Results in: `durations.result`

In [44]:
# parse input file an create a nice pandas frame
import pandas as pd
import seaborn as sns

data = list()
with open("durations.result", "r") as f:
    for l in f.readlines():
        if "call" not in l:
            continue
        parts = list(map(str.strip, filter(len, l.split(" "))))
        d = {
            "name": parts[2].split("::")[-1],
            "time": float(parts[0].replace("s", ""))
        }
        data.append(d)
df = pd.DataFrame(data)
print(df.info())
print(df.describe())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
name    200 non-null object
time    200 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.2+ KB
None
             time
count  200.000000
mean     3.357400
std      4.112231
min      0.080000
25%      0.350000
50%      0.765000
75%      9.050000
max     10.490000

             name  time
0   test_vnf_show  9.98
1    test_ns_show  9.64
2   test_vnf_list  9.31
3  test_ns_create  9.27
4    test_ns_list  9.08

In [47]:
# analyse tests
g = df.groupby(by="name").describe()
display(g.sort_values("name"))

                  time
                 count   mean       std   min     25%    50%      75%    max
name
test_connection   20.0  0.121  0.043152  0.08  0.0900  0.100   0.1525   0.24
test_ns_create    10.0  9.356  0.514397  8.65  8.8750  9.520   9.8000   9.88
test_ns_delete    10.0  9.443  0.436121  8.93  9.1150  9.395   9.7575  10.26
test_ns_list      10.0  9.561  0.430076  9.08  9.1825  9.440  10.0100  10.09
test_ns_show      10.0  9.446  0.443551  8.83  9.1425  9.495   9.6125  10.13
test_nsd_create   10.0  0.521  0.075785  0.44  0.4725  0.490   0.5675   0.67
test_nsd_delete   10.0  0.532  0.117170  0.39  0.4425  0.545   0.6000   0.76
test_nsd_list     10.0  0.550  0.043716  0.50  0.5150  0.545   0.5800   0.62
test_nsd_show     10.0  0.544  0.096977  0.41  0.4775  0.550   0.6125   0.69
test_vim_create   10.0  1.310  0.310125  0.82  1.0700  1.385   1.5600   1.64
test_vim_delete   10.0  1.165  0.331067  0.84  0.8850  1.025   1.4800   1.64
test_vim_list     10.0  2.585  0.545878  1.74  2.3600  2.685   3.0200   3.22
test_vim_show     10.0  1.264  0.378600  0.77  0.8750  1.450   1.5875   1.63
test_vnf_list     10.0  9.813  0.486120  9.24  9.3375  9.855  10.1425  10.49
test_vnf_show     10.0  9.679  0.424773  8.89  9.4575  9.600   9.9700  10.30
test_vnfd_create  10.0  0.248  0.068443  0.16  0.2025  0.240   0.2900   0.35
test_vnfd_delete  10.0  0.236  0.068670  0.18  0.1900  0.195   0.2575   0.37
test_vnfd_list    10.0  0.407  0.073944  0.28  0.3475  0.410   0.4800   0.49
test_vnfd_show    10.0  0.246  0.067363  0.16  0.2050  0.230   0.2975   0.36